body {
     background: url('https://upload.wikimedia.org/wikipedia/commons/e/eb/Snow_on_the_shore_of_frozen_Hooker_Glacier_Lake_with_Mount_Cook_in_the_background.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     color: #404756;
}

._dash-undo-redo {
    display: none;
}

.row.shaded {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
}

.table {
    font-size: 16px;
}

.rc-slider-mark-text {
    color: #404756;
    font-size: 14px;
}

.rc-slider-track {
    background-color: #8e690a;

}

.rc-slider-handle {
   border-color: #8e690a;
}

.rc-slider-dot {
    border-color: #c89b43;
}

.rc-slider-handle:hover {
   border-color: #c89b43;
}

a {
    color: #60a4ff;
}

a:focus, a:hover {
    color: #c89b43;
}

.btn-primary {
    background-color: #404756;
    border-color: #404756;
}

.btn-primary:hover {
    background-color: #c89b43;
    border-color: #c89b43;
}

.svg-container {
    margin: auto !important;
}

._dash-loading-callback {
  font-family: sans-serif;
  padding-top: 50px;
  color: rgb(90, 90, 90);

  -webkit-animation: fadein 0.5s ease-in 7s forwards; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 0.5s; /* Firefox < 16 */
      -ms-animation: fadein 0.5s; /* Internet Explorer */
       -o-animation: fadein 0.5s; /* Opera < 12.1 */
          animation: fadein 0.5s ease-in 7s forwards;


  /* The banner */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-color: rgba(255, 255, 255, 0.5);*/
  text-align: center;
  cursor: progress;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
